.cont {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("./images/livboye.JPG");
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-size: cover;
    gap: 6rem;
}

/* Navbar */

.monthPicker {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 30px 50px;
    align-items: center;
    width: 170px;
    height: 90vh;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    font-family: 'Albert Sans', sans-serif;
}

/* Year dropdown */

.dropdown {
    position: relative;
    justify-self: center;
    align-self: center;
    display: inline-block;
    padding-top: 20px;
    width: 100%;
}

.dropbtn {
    border: none;
    background-color: white;
    width: 90%;
    height: 35px;
    margin: 0 5% 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 80px;
    overflow-y: auto;
    min-width: 170px;
    max-width: 170px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content p:hover{
    cursor: pointer;
    background-color: white;
}

.dropdown:hover .dropbtn {background-color: lightgray;}

/* Month buttons */

.monthList {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
}

.monthBtn {
    border: none;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 30px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.monthBtn:hover {
    background-color: lightgray;
}

/* Statistics */

.dashBox {
    margin: auto 0 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    font-family: 'Albert Sans', sans-serif;
}

/* Left */

.leftDash {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 60px;
}

#dateNow {
    font-size: 26px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 2px lightgray solid;
}

/* Table */

.table {
    display: table;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    border-collapse: collapse;
}

th {
    padding: 15px 20px 10px;
    text-align: left;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;

}

.coll {
    background-color: lightgray;
    border: none;
}

tr {
    border-bottom: 2px lightgray solid;
}

#tableHeader {
    background-color: #c3c1c1;
    border: none;
}

#tableHeader th {
    border: none;
}

th {
    border-left: 2px #c3c1c1 solid;
}

.ny {
    border: none;
}

.prov {
    min-width: 180px;
}

/* Mid */

.miDash {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: center;
    width: 100%;
}



/* Right */

.rightDash {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 40px 0 auto;
    text-align: center;
}

.rightDash h3 {
    font-family: 'Albert Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.rightDash h1 {
    font-family: 'Albert Sans', sans-serif;
    font-size: 44px;
    font-weight: 300;
}

/* HP */

.hpBulk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 3px lightgray solid;
}

.hpCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

h3, h1 {
    margin: 0;
    padding: 0;
}

.totalHp {
    margin-top: 10px;
}

/* Prov skade */

.skadeBulk {
    margin-bottom: 30px;
    border-bottom: 3px lightgray solid;
}

/* prov nordea */

.livBulk {
    margin-bottom: 30px;
    border-bottom: 3px lightgray solid;
}

/* total prov */

.totalProvSum h1 {
    font-size: 50px;
    font-weight: 600;
}

.totalProvSum {
    margin-top: auto;
    margin-bottom: 30px;
    border-bottom: 5px black solid;
}

