/* General */

a {
    text-decoration: none;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    font-family: Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/livboye.JPG");
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-size: cover;
}

/* Box */

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    font-family: 'Albert Sans', sans-serif;
}

.boxContent {
    align-self: flex-start;
    padding: 40px 40px 0 60px;
    width: 75%;
}

.logo {
    width: 150px;
    align-self: flex-start;
}

/* loginbox */

.loginBox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.inputBox {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 22px;
    font-weight: 300;
}

/* Input */

.inputField {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 100%;
    font-size: 18px;
    padding-bottom: 7px;
}

.inputField::placeholder {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 200;
}

.inputField:focus {
    outline: none;
    border: none;
    background-color: white;
    border-bottom: 2px solid lightgray;
}

#forgotPassword {
    color: #18a1f3;
}

/* Knapp */

.btn {
    margin-top: 30px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #3271ef;
}

.btn:hover {
    cursor: pointer;
}

/* Signin */

.signinBox {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: #f3f2f2;
}

#signin {
    color: blacK;
    font-weight: 200;
}

.buffer {
    padding-bottom: 30px;
}

.pw {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}










