.salgBox {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}

/* Liste */

.imgBulk {
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imgBulk img {
    width: 24px;
    height: 24px;
}

li {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 250;
    align-items: center;
    gap: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

p:hover {
    cursor: pointer;
    color: #158a06;
}

/* Tabell */

.salgTable {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Produkter */

.produktBox {
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 340px;
        background-color: white;
        border: 1px solid black;
        z-index: 11000;
        gap: 15px;
        padding: 20px 20px 0;
}


.produktBox a {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 250;
    border-bottom: 1px lightgray solid;
}

.prodClust {
    display: flex;
    gap: 10;
}

.prodInput {
    display: flex;
    margin-left: auto;
    justify-self: flex-start;
}

